body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle, rgba(30,30,30,1) 0%, rgba(45,45,45,1) 100%);
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50%;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 32px;
    color: #fff;
}

.header p {
    font-size: 26px;
    color: #f1faee;
}

.error-icon img {
    width: 80px;
    margin: 20px 0;
}

.message h2 {
    color: #a8dadc;
    margin-top: 20px;
}

.message p {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}
